@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title> 会员管理登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/css/Login/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>会员管理系统</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form action="#" method="post">
                    <div id="errorInfo" style="color:orangered;"></div>
                    <input id="act" type="text" name="name" placeholder="用户名" required="" autocomplete="off" />
                    <input id="pwd" type="password" name="password" class="padding" placeholder="密码" required="" autocomplete="off" />
                    <input id="btnLogin" type="submit" value="登录">
                </form>
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>
                <span class="bigger-120">
                    <span class="blue bolder">技术支持 : 上海鳌泰信息技术有限公司 </span>
                    &copy; 2019-2020
                </span>
            </p>
        </div>
    </div>
    <script src="~/framework/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/plugins/jquery.tmpl.min.js"></script>
    <script src="~/js/pageScripts/Login/login.js"></script>



</body>

</html>